<nav><ul>
  <li><a class="selected" href="/">New</a></li>
  <li><a href="#">Archives</a></li>
  <li><a href="#">Random</a></li>
  <li><a href="#">About</a></li>
</ul>

<form>
  <input type="text" placeholder="Enter you text here..."/>
  <input type="submit" value="Search"/>
</form>

<div class="clear_both"></div>
</nav>

<section id="featured">
  <p>You can put whatever you like here.</p>
</section>

<section id="content">
  You can put whatever you like here too.
</section>