<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>SaphIRC</title>
  <link rel="shortcut icon" href="/favicon.png" >
  
  <!-- Chrome Frame for IE -->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  
  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  <!-- CSS -->
  
    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/> 
  
  <link href='http://meyerweb.com/eric/tools/css/reset/reset.css' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>
<div id="top_nav">
  <a href="http://www.calebalbritton.com">Built by Caleb Albritton</a>
  <a href="http://www.sinatrarb.com">Sinatra</a><a href="https://github.com/cinchrb/cinch/">Cinch</a>
</div>

<div id="wrapper">
<header>
  <h1><a href="/">
  <span class="object">SaphIRC</span>.<span class="method">reply</span>(<span class="paramaters">'/me is aware'</span>)
  </a></h1>
</header>

<%= yield %>

<div class="clear_both"></div>
<footer>
  
  <div id="license">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
  </div>
</footer>
<!-- end wrapper --></div>
</body>
</html>