* { margin: 0px; padding: 0px; }

body {
  background-color: #fff;
  font-family: 'Bentham', arial, helvetica, sans-serif;
  
  /* This text align is required to center the page in ie */
  text-align: center;
}

/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
  display: block;
}

/* GLOBALS */

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 24pt;
}

h4 {
  font-size: 20pt;
}

a {
  color: black;
  text-decoration: none;
}
/* END GLOBALS */

/* Top Navigation */

#top_nav {
  color: black;
  top: 0px;
  width: 100%;
  background: #EBEEF1;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #CBD3DB;
  color: white;
  font-size: 8pt;
  letter-spacing: 2px;
  padding-bottom: 4pt;
  padding-top: 4pt;
  text-align: center;
  text-transform: uppercase;
}

#top_nav a {
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

#top_nav a:hover {
  text-decoration: underline overline;
}

/* END Top Navigation */

/* WRAPPER */
#wrapper {
  text-align: left;
  margin: 0 auto;
  width: 800px;
}

/* Header */

header {
  font-family: "Courier New", Monaco, Georgia, Courier, Times;
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}

h1 {
  text-shadow: 1.5px 1.5px 1.5px #969696;
  -webkit-transition: all 0.15s linear;
}

h1:hover {
  -webkit-transform: scale(1.1);
}

.object {
  color: #828262;
}

.method {
  color: #D1D082;
}

.paramaters {
  color: #5271C4;
}

/* END Header */

/* Main Navigation */

nav {
}

nav ul {
  padding-bottom: 20px;
  float: left;
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  background-color: transparent;
  font-size: 14pt;
  color: black;
  padding: 5px;
  text-decoration: none;
  
  border-style: solid;
  border-color: black;
  border-width: 1px;
  
  -webkit-border-radius:  5px;
  -moz-border-radius:   5px;
  border-radius:      5px;
  
  -webkit-transition: all .3s ease-in-out;
  -moz-transition:  all .3s ease-in-out;
  -o-transition:    all .3s ease-in-out;
  transition:     all .3s ease-in-out;
}

nav ul li a.selected {
  background-color: black;
  color: white;
  -webkit-border-radius:  5px;
  -moz-border-radius:   5px;
  border-radius:      5px;
}

nav ul li a:hover {
  background-color: black;
  color: white;
  -webkit-border-radius:  5px;
  -moz-border-radius:   5px;
  border-radius:      5px;
}

nav form {
  float: right;
}

nav form input[type=text] {
  border: solid, 1px, black;
  width: 175px;
  height: 20px;
}

nav form input[type=submit] {
  padding: 3px;
  margin: 0px;
}

.clear_both {
  clear: both;
}

/* END ALL Navigation */


/* Featured Bar */

#featured {
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FBFBFB;
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
}

#featured p {
  text-align: center;
}

#featured form {
  text-align: center;
}

#featured  ul {
  list-style: none;
}

#featured ul li {
  display: inline;
  padding-left: 10px;
}

#featured ul li a:hover {
  text-decoration: underline;
}

#featured a {
  text-decoration: underline;
}
/* END Featured Bar */


/* Content */

#content {
  text-align: left;
  line-height: 1.4;
  padding-top: 20px;
  font-family: 'Ubuntu';
}

#content h2 {
  text-align: center;
}

#content a {
  color: #5271C4;
  -webkit-border-radius:  3px;
  -moz-border-radius:   3px;
  border-radius:      3px;
  -webkit-transition: all 0.1s linear;
}

#content a:hover {
  background-color: #5271C4;
  color: white;
}

#content.center-contents {
  margin-left: 50%;
}

#content .center-contents textarea {
  height: 200px;
  width: 450px;
}

/* END Content */


/* Footer */

footer {
  font-size: 10pt;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-top-style: dotted;
  border-top-color: black;
  border-top-width: 1px;
}

footer #license {
  margin-top: 20px;
  text-align: center;
}
/* END Footer */

/* Buttons */
button.clean-gray {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 8px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 150px;
}
  
button.clean-gray:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
    
button.clean-gray:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}
/* END Buttons */